@import "tailwindcss";

:root {
  --font-custom: "Roboto", sans-serif;
}

body {
  font-family: var(--font-custom);
}

@theme {
  --font-display: "Roboto";
  --color-primary: #0365ba;
  --color-primary-400: #1c74c1;
  --color-primary-300: #3584c8;
}
